body{
  text-align: center;
  margin: 0;
font-family: 'Merriweather', serif;
}
h1{
margin-top: 0;
font-family: 'Sacramento', cursive;
}
h2{
font-family: 'Montserrat', sans-serif;
}
h3{
font-family: 'Montserrat', sans-serif;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
.middle-container{
background-color: #F5EEDC;
}
.bottom-container{
background-color: #ECB390;
}
.pro{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;
  right: 390px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 390px;
  bottom: 320px;
}
